<% include ../partials/header_seller %>

<ul class="user-option nav nav-tabs">
    <li class="option option-my-booking is-flex nav-item">
        <div>
            <p class="hover-text my-booking"><a class="nav-link active" href="#tab1">Tất cả</a></p>
        </div>
    </li>
    <li class="option option-favorite is-flex">
        <div>
            <p class="hover-text"><a class="nav-link" href="#tab2">Đang hoạt động</a></p>
        </div>
    </li>
    <li class="option option-setting is-flex">
        <div>
            <p class="hover-text"><a class="nav-link" href="#tab3">Đang ẩn</a></p>
        </div>
    </li>
    <li class="option option-setting is-flex">
        <div>
            <p class="hover-text"><a class="nav-link" href="#tab4">Vi phạm</a></p>
        </div>
    </li>
</ul>

<div id="tab1" class="tab-option">
    <div>
        <div class="col-lg-12">
            <h1 class="page-header">Product
                <small>List</small>
                <div style="float: right;">
                    <a href="/seller/product/add" class="btn btn-success" style="font-size: 18px;"><i class="fas fa-plus-square" style="margin-right: 5px;"></i> Thêm mới sản phẩm</a>
                </div>
            </h1>
        </div>
    
        <div class="modal fade" id="inputPro" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel">Thêm mới dữ liệu sản phẩm</h5>
              </div>
              <div class="modal-body" style="overflow: hidden;">
                    <div class="card bg-light mt-3">
                        <div class="card-header">
                            
                        </div>
                        <div class="card-body">
                            <form action="{{ route('importPro') }}" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="_token" value="{!! csrf_token() !!}">
                                <div class="form-group col-sm-12">
                                    <label class="supplier_block_text">Danh Mục Sản Phẩm</label>
                                    <select class="form-control" name="category" required>
                                        <option value="" disabled="disabled">Please Choose Category</option>
                                        @foreach ($category as $row)
                                          <option value="{!! $row['id'] !!}">{!! $row['name'] !!}</option>
                                        @endforeach 
                                    </select>
                                </div>
                                
                                <p style="margin-left: 20px; display: block;">
                                    Chú ý:<br>
                                    - Chuyển đổi file nhập dưới dạng .XLS hoặc .XLSX trước tải dữ liệu.<br>
                                    - File nhập có dung lượng tối đa là 2MB và 500 bản ghi. 
                                </p>
                                <input type="file" name="file" class="form-control">
                                <br>
                                <button class="btn btn-success">Import Product Data</button>
                            </form>
                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    
        <!-- /.col-lg-12 -->
        <table id="dataTables-example" class="mdl-data-table" style="width:100%">
            <thead>
                <tr align="center">
                    <th class="custom-table-product">STT</th>
                    <th><input type="checkbox" id="ckbAll" onclick="checkAll()"></th>
                    <th>Tên sản phẩm</th>
                    <th>SKU</th>
                    <th>Phân loại hàng</th>
                    <th>Giá</th>
                    <th>Kho hàng</th>
                    <th>Tình trạng</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (data) { var i = 0;%>
               <%data.forEach(item => { i++;%>
                <tr class="odd gradeX" align="center">
                    <td class="custom-table-product"><%-i%></td>
                    <td><input type="checkbox" class="checkOne" name="ckbProduct" value="<%-item.id%>" onclick="checkOne()"></td>
                    <td>
                       <div style="display: flex;">
                            <div class="show-img-product">
                                <img src="<%-item.classify[0].url.cover%>" alt="">
                                <div class="<%-item.status == 1? '':'product-banned'%>">
                                    <i data-v-39f338ef="" class="shop-icon banned-icon">
                                        <%if (item.status == 0) {%>
                                            <svg class="svg-icon" viewBox="0 0 20 20">
                                                <path d="M14.776,10c0,0.239-0.195,0.434-0.435,0.434H5.658c-0.239,0-0.434-0.195-0.434-0.434s0.195-0.434,0.434-0.434h8.684C14.581,9.566,14.776,9.762,14.776,10 M18.25,10c0,4.558-3.693,8.25-8.25,8.25c-4.557,0-8.25-3.691-8.25-8.25c0-4.557,3.693-8.25,8.25-8.25C14.557,1.75,18.25,5.443,18.25,10 M17.382,10c0-4.071-3.312-7.381-7.382-7.381C5.929,2.619,2.619,5.93,2.619,10c0,4.07,3.311,7.382,7.381,7.382C14.07,17.383,17.382,14.07,17.382,10"></path>
                                            </svg>
                                        <%} else {%>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 5V4a4 4 0 1 1 8 0v1h1a.99.99 0 0 1 .56.172A.998.998 0 0 1 14 6v8a.99.99 0 0 1-.172.56A.998.998 0 0 1 13 15H3a.99.99 0 0 1-.56-.172A.998.998 0 0 1 2 14V6a.99.99 0 0 1 .172-.56A.998.998 0 0 1 3 5h1zm3.154 5.239l.276 2.225a.611.611 0 0 0 .606.536.6.6 0 0 0 .597-.537l.238-2.241a1.5 1.5 0 1 0-1.717.017zM8 2a2 2 0 0 0-2 2v1h4V4a2 2 0 0 0-2-2z"></path></svg>
                                        <%}%>
                                    </i>
                                </div>
                            </div>
                            <div class="info-product">
                                <div class="info-status">
                                    <% if (item.status == -1) {%>
                                        <p class="banned-product">Đã tạm khóa</p>
                                    <%} else {%>
                                    <%-item.status == 0?'<p class="hidden-product">Đã ẩn</p>': '<p class="show-product">Đang bán</p>'%>
                                    <%}%>
                                </div>
                                <div class="name-wrap-text name-product">
                                    <p><%-item.name%></p>
                                </div>
                                <div class="sku-product">
                                    <p>SKU sản phẩm:  <%-item.sku==''?'--':item.sku%></p>
                                </div>
                            </div>
                       </div>
                    </td>
                    <td>
                      <%if (item.classify) {%>
                       <%item.classify.forEach(it => {%>
                            <div>
                                <p><%-it.sku == ''?'--':it.sku%></p>
                            </div>
                        <%})%>
                      <%}%>
                    </td>
                    <td> 
                        <%if (item.classify) {%>
                        <%item.classify.forEach(it => {%>
                            <div class="name-wrap-text">
                                
                                <% if (it.attribute.key) {%>
                                    <p>--</p>
                                <%} else if (it.attribute.Color && !it.attribute.Size){%>
                                    <p><%-it.attribute.Color%></p>
                                <%} else if (!it.attribute.Color && it.attribute.Size) {%>
                                    <p><%-it.attribute.Size%></p>
                                <%} else {%>
                                    <p><%-it.attribute.Color%>, <%-it.attribute.Size%></p>
                                <%}%>
                            </div>
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <%if (item.classify) {%>
                        <%item.classify.forEach(it => {%>
                            <div>
                                <p><%-it.price%> đ</p>
                            </div>
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <%if (item.classify) {%>
                        <%item.classify.forEach(it => {%>
                            <div style="margin-bottom: 16px;">
                                <%-it.stockamount==0?'<p class="out-stock">Hết hàng</p>':it.stockamount%>
                            </div>
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <div>
                            <%-item.status == 0?'<p class="hidden-product">Đã ẩn</p>': '<p class="show-product">Đang bán</p>'%>
                        </div>
                    </td>
                    <td class="center">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Tùy chọn
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu action-product" aria-labelledby="dropdownMenu1">
                              <li><a href="" onclick="btnShow(this)" data-id="<%-item.id%>" data-status="<%-item.status%>"><%-item.status == 0? 'Hiển thị' : 'Ẩn'%></a></li>
                              <li><a href="/seller/product/edit/<%-item.id%>">Sửa</a></li>
                              <li><a href="/seller/product/edit/variant/<%-item.id%>">Cập nhật biến thể</a></li>
                            </ul>
                          </div>
                    </td>
                </tr>
               <%})%>
               <%}%>
            </tbody>
        </table>
    </div>
</div>
<div id="tab2" class="tab-option">
    <div>

        <!-- /.col-lg-12 -->
        <table id="dataTables-example" class="mdl-data-table" style="width:100%">
            <thead>
                <tr align="center">
                    <th class="custom-table-product">STT</th>
                    <th><input type="checkbox" id="ckbAll" onclick="checkAll()"></th>
                    <th>Tên sản phẩm</th>
                    <th>SKU</th>
                    <th>Phân loại hàng</th>
                    <th>Giá</th>
                    <th>Kho hàng</th>
                    <th>Tình trạng</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (data) { var i = 0;%>
               <%data.forEach(item => { 
                   if (item.status == 1) { i++;
                %>
                
                <tr class="odd gradeX" align="center">
                    <td class="custom-table-product"><%-i%></td>
                    <td><input type="checkbox" class="checkOne" name="ckbProduct" value="<%-item.id%>" onclick="checkOne()"></td>
                    <td>
                       <div style="display: flex;">
                            <div class="show-img-product">
                                <img src="<%-item.classify[0].url.cover%>" alt="">
                                <div class="<%-item.status == 1? '':'product-banned'%>">
                                    <i data-v-39f338ef="" class="shop-icon banned-icon">
                                        <%if (item.status == 0) {%>
                                            <svg class="svg-icon" viewBox="0 0 20 20">
                                                <path d="M14.776,10c0,0.239-0.195,0.434-0.435,0.434H5.658c-0.239,0-0.434-0.195-0.434-0.434s0.195-0.434,0.434-0.434h8.684C14.581,9.566,14.776,9.762,14.776,10 M18.25,10c0,4.558-3.693,8.25-8.25,8.25c-4.557,0-8.25-3.691-8.25-8.25c0-4.557,3.693-8.25,8.25-8.25C14.557,1.75,18.25,5.443,18.25,10 M17.382,10c0-4.071-3.312-7.381-7.382-7.381C5.929,2.619,2.619,5.93,2.619,10c0,4.07,3.311,7.382,7.381,7.382C14.07,17.383,17.382,14.07,17.382,10"></path>
                                            </svg>
                                        <%} else {%>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 5V4a4 4 0 1 1 8 0v1h1a.99.99 0 0 1 .56.172A.998.998 0 0 1 14 6v8a.99.99 0 0 1-.172.56A.998.998 0 0 1 13 15H3a.99.99 0 0 1-.56-.172A.998.998 0 0 1 2 14V6a.99.99 0 0 1 .172-.56A.998.998 0 0 1 3 5h1zm3.154 5.239l.276 2.225a.611.611 0 0 0 .606.536.6.6 0 0 0 .597-.537l.238-2.241a1.5 1.5 0 1 0-1.717.017zM8 2a2 2 0 0 0-2 2v1h4V4a2 2 0 0 0-2-2z"></path></svg>
                                        <%}%>
                                    </i>
                                </div>
                            </div>
                            <div class="info-product">
                                <div class="info-status">
                                    <% if (item.status == -1) {%>
                                        <p class="banned-product">Đã tạm khóa</p>
                                    <%} else {%>
                                    <%-item.status == 0?'<p class="hidden-product">Đã ẩn</p>': '<p class="show-product">Đang bán</p>'%>
                                    <%}%>
                                </div>
                                <div class="name-wrap-text name-product">
                                    <p><%-item.name%></p>
                                </div>
                                <div class="sku-product">
                                    <p>SKU sản phẩm:  <%-item.sku==''?'--':item.sku%></p>
                                </div>
                            </div>
                       </div>
                    </td>
                    <td>
                      <%if (item.classify) {%>
                       <%item.classify.forEach(it => {%>
                            <div>
                                <p><%-it.sku == ''?'--':it.sku%></p>
                            </div>
                        <%})%>
                      <%}%>
                    </td>
                    <td> 
                        <%if (item.classify) {%>
                        <%item.classify.forEach(it => {%>
                            <div class="name-wrap-text">
                                
                                <% if (it.attribute.key) {%>
                                    <p>--</p>
                                <%} else if (it.attribute.Color && !it.attribute.Size){%>
                                    <p><%-it.attribute.Color%></p>
                                <%} else if (!it.attribute.Color && it.attribute.Size) {%>
                                    <p><%-it.attribute.Size%></p>
                                <%} else {%>
                                    <p><%-it.attribute.Color%>, <%-it.attribute.Size%></p>
                                <%}%>
                            </div>
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <%if (item.classify) {%>
                        <%item.classify.forEach(it => {%>
                            <div>
                                <p><%-it.price%> đ</p>
                            </div>
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <%if (item.classify) {%>
                        <%item.classify.forEach(it => {%>
                            <div style="margin-bottom: 16px;">
                                <%-it.stockamount==0?'<p class="out-stock">Hết hàng</p>':it.stockamount%>
                            </div>
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <div>
                            <%-item.status == 0?'<p class="hidden-product">Đã ẩn</p>': '<p class="show-product">Đang bán</p>'%>
                        </div>
                    </td>
                    <td class="center">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Tùy chọn
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu action-product" aria-labelledby="dropdownMenu1">

                              <% if (item.status == 1) {%>
                                <li><a href="/detail/<%-give(item.name)%>.<%-item.id%>" target="_blank">Xem trước</a></li>
                              <%}%>
                              <li><a href="" onclick="btnShow(this)" data-id="<%-item.id%>" data-status="<%-item.status%>"><%-item.status == 0? 'Hiển thị' : 'Ẩn'%></a></li>
                              <li><a href="/seller/product/edit/<%-item.id%>">Sửa</a></li>
                              <li><a href="/seller/product/edit/variant/<%-item.id%>">Cập nhật biến thể</a></li>
                            </ul>
                          </div>
                    </td>
                </tr>
                <%}%>
               <%})%>
               <%}%>
            </tbody>
        </table>
    </div>
</div>
<div id="tab3" class="tab-option">
    <div>
    
        <!-- /.col-lg-12 -->
        <table id="dataTables-example" class="mdl-data-table" style="width:100%">
            <thead>
                <tr align="center">
                    <th class="custom-table-product">STT</th>
                    <th><input type="checkbox" id="ckbAll" onclick="checkAll()"></th>
                    <th>Tên sản phẩm</th>
                    <th>SKU</th>
                    <th>Phân loại hàng</th>
                    <th>Giá</th>
                    <th>Kho hàng</th>
                    <th>Tình trạng</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (data) { var i = 0;%>
               <%data.forEach(item => { 
                   if (item.status == 0) {i++;
                %>
                <tr class="odd gradeX" align="center">
                    <td class="custom-table-product"><%-i%></td>
                    <td><input type="checkbox" class="checkOne" name="ckbProduct" value="<%-item.id%>" onclick="checkOne()"></td>
                    <td>
                       <div style="display: flex;">
                            <div class="show-img-product">
                                <img src="<%-item.classify[0].url.cover%>" alt="">
                                <div class="<%-item.status == 1? '':'product-banned'%>">
                                    <i data-v-39f338ef="" class="shop-icon banned-icon">
                                        <%if (item.status == 0) {%>
                                            <svg class="svg-icon" viewBox="0 0 20 20">
                                                <path d="M14.776,10c0,0.239-0.195,0.434-0.435,0.434H5.658c-0.239,0-0.434-0.195-0.434-0.434s0.195-0.434,0.434-0.434h8.684C14.581,9.566,14.776,9.762,14.776,10 M18.25,10c0,4.558-3.693,8.25-8.25,8.25c-4.557,0-8.25-3.691-8.25-8.25c0-4.557,3.693-8.25,8.25-8.25C14.557,1.75,18.25,5.443,18.25,10 M17.382,10c0-4.071-3.312-7.381-7.382-7.381C5.929,2.619,2.619,5.93,2.619,10c0,4.07,3.311,7.382,7.381,7.382C14.07,17.383,17.382,14.07,17.382,10"></path>
                                            </svg>
                                        <%} else {%>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 5V4a4 4 0 1 1 8 0v1h1a.99.99 0 0 1 .56.172A.998.998 0 0 1 14 6v8a.99.99 0 0 1-.172.56A.998.998 0 0 1 13 15H3a.99.99 0 0 1-.56-.172A.998.998 0 0 1 2 14V6a.99.99 0 0 1 .172-.56A.998.998 0 0 1 3 5h1zm3.154 5.239l.276 2.225a.611.611 0 0 0 .606.536.6.6 0 0 0 .597-.537l.238-2.241a1.5 1.5 0 1 0-1.717.017zM8 2a2 2 0 0 0-2 2v1h4V4a2 2 0 0 0-2-2z"></path></svg>
                                        <%}%>
                                    </i>
                                </div>
                            </div>
                            <div class="info-product">
                                <div class="info-status">
                                    <% if (item.status == -1) {%>
                                        <p class="banned-product">Đã tạm khóa</p>
                                    <%} else {%>
                                    <%-item.status == 0?'<p class="hidden-product">Đã ẩn</p>': '<p class="show-product">Đang bán</p>'%>
                                    <%}%>
                                </div>
                                <div class="name-wrap-text name-product">
                                    <p><%-item.name%></p>
                                </div>
                                <div class="sku-product">
                                    <p>SKU sản phẩm:  <%-item.sku==''?'--':item.sku%></p>
                                </div>
                            </div>
                       </div>
                    </td>
                    <td>
                      <%if (item.classify) {%>
                       <%item.classify.forEach(it => {%>
                            <div>
                                <p><%-it.sku == ''?'--':it.sku%></p>
                            </div>
                        <%})%>
                      <%}%>
                    </td>
                    <td> 
                        <%if (item.classify) {%>
                        <%item.classify.forEach(it => {%>
                            <div class="name-wrap-text">
                                
                                <% if (it.attribute.key) {%>
                                    <p>--</p>
                                <%} else if (it.attribute.Color && !it.attribute.Size){%>
                                    <p><%-it.attribute.Color%></p>
                                <%} else if (!it.attribute.Color && it.attribute.Size) {%>
                                    <p><%-it.attribute.Size%></p>
                                <%} else {%>
                                    <p><%-it.attribute.Color%>, <%-it.attribute.Size%></p>
                                <%}%>
                            </div>
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <%if (item.classify) {%>
                        <%item.classify.forEach(it => {%>
                            <div>
                                <p><%-it.price%> đ</p>
                            </div>
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <%if (item.classify) {%>
                        <%item.classify.forEach(it => {%>
                            <div style="margin-bottom: 16px;">
                                <%-it.stockamount==0?'<p class="out-stock">Hết hàng</p>':it.stockamount%>
                            </div>
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <div>
                            <%-item.status == 0?'<p class="hidden-product">Đã ẩn</p>': '<p class="show-product">Đang bán</p>'%>
                        </div>
                    </td>
                    <td class="center">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Tùy chọn
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu action-product" aria-labelledby="dropdownMenu1">
                              <li><a href="" onclick="btnShow(this)" data-id="<%-item.id%>" data-status="<%-item.status%>"><%-item.status == 0? 'Hiển thị' : 'Ẩn'%></a></li>
                              <li><a href="/seller/product/edit/<%-item.id%>">Sửa</a></li>
                              <li><a href="/seller/product/edit/variant/<%-item.id%>">Cập nhật biến thể</a></li>
                            </ul>
                          </div>
                    </td>
                </tr>
                <%}%>
               <%})%>
               <%}%>
            </tbody>
        </table>
    </div>
</div>
<div id="tab4" class="tab-option">
    <div>
    
        <!-- /.col-lg-12 -->
        <table id="dataTables-example" class="mdl-data-table" style="width:100%">
            <thead>
                <tr align="center">
                    <th class="custom-table-product">STT</th>
                    <th><input type="checkbox" id="ckbAll" onclick="checkAll()"></th>
                    <th>Tên sản phẩm</th>
                    <th>Hạn sửa lỗi</th>
                    <th>Loại vi phạm</th>
                    <th>Lý do vi phạm</th>
                    <th>Gợi ý</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (data) { var i = 0;%>
               <%data.forEach(item => { 
                   if (item.status == -1) {i++;
                %>
                <tr class="odd gradeX" align="center">
                    <td class="custom-table-product"><%-i%></td>
                    <td><input type="checkbox" class="checkOne" name="ckbProduct" value="<%-item.id%>" onclick="checkOne()"></td>
                    <td>
                       <div style="display: flex;">
                            <div class="show-img-product">
                                <img src="<%-item.classify[0].url.cover%>" alt="">
                                <div class="<%-item.status == 1? '':'product-banned'%>">
                                    <i data-v-39f338ef="" class="shop-icon banned-icon">
                                        <%if (item.status == 0) {%>
                                            <svg class="svg-icon" viewBox="0 0 20 20">
                                                <path d="M14.776,10c0,0.239-0.195,0.434-0.435,0.434H5.658c-0.239,0-0.434-0.195-0.434-0.434s0.195-0.434,0.434-0.434h8.684C14.581,9.566,14.776,9.762,14.776,10 M18.25,10c0,4.558-3.693,8.25-8.25,8.25c-4.557,0-8.25-3.691-8.25-8.25c0-4.557,3.693-8.25,8.25-8.25C14.557,1.75,18.25,5.443,18.25,10 M17.382,10c0-4.071-3.312-7.381-7.382-7.381C5.929,2.619,2.619,5.93,2.619,10c0,4.07,3.311,7.382,7.381,7.382C14.07,17.383,17.382,14.07,17.382,10"></path>
                                            </svg>
                                        <%} else {%>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 5V4a4 4 0 1 1 8 0v1h1a.99.99 0 0 1 .56.172A.998.998 0 0 1 14 6v8a.99.99 0 0 1-.172.56A.998.998 0 0 1 13 15H3a.99.99 0 0 1-.56-.172A.998.998 0 0 1 2 14V6a.99.99 0 0 1 .172-.56A.998.998 0 0 1 3 5h1zm3.154 5.239l.276 2.225a.611.611 0 0 0 .606.536.6.6 0 0 0 .597-.537l.238-2.241a1.5 1.5 0 1 0-1.717.017zM8 2a2 2 0 0 0-2 2v1h4V4a2 2 0 0 0-2-2z"></path></svg>
                                        <%}%>
                                    </i>
                                </div>
                            </div>
                            <div class="info-product">
                                <div class="info-status">
                                    <% if (item.status == -1) {%>
                                        <p class="banned-product">Đã tạm khóa</p>
                                    <%} else {%>
                                    <%-item.status == 0?'<p class="hidden-product">Đã ẩn</p>': '<p class="show-product">Đang bán</p>'%>
                                    <%}%>
                                </div>
                                <div>
                                    <div class="product-wrap-text">
                                        <p><%-item.name%></p>
                                    </div>
                                </div>
                                <div class="sku-product">
                                    <p>SKU sản phẩm:  <%-item.sku==''?'--':item.sku%></p>
                                </div>
                            </div>
                       </div>
                    </td>
                    <td>
                        <% if (item.status == -1) {%>
                            <div class="product-wrap-text">
                                <p><%-item.vtime%></p>
                            </div>
                        <%}%>
                    </td>
                    <td> 
                        <% if (item.status == -1) {%>
                            <div class="product-wrap-text">
                                <p><%-item.vname%></p>
                            </div>
                        <%}%>
                    </td>
                    <td>
                        <% if (item.status == -1) {%>
                            <div class="product-wrap-text">
                                <p><%-item.vreason%></p>
                            </div>
                        <%}%>
                    </td>
                    <td>
                        <% if (item.status == -1) {%>
                            <div class="product-wrap-text">
                                <p><%-item.vsuggestion%></p>
                            </div>
                        <%}%>
                    </td>
                    <td class="center">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Tùy chọn
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu action-product" aria-labelledby="dropdownMenu1">
                              <li><a href="" onclick="btnShow(this)" data-id="<%-item.id%>" data-status="<%-item.status%>"><%-item.status == 0? 'Hiển thị' : 'Ẩn'%></a></li>
                              <li><a href="/seller/product/edit/<%-item.id%>">Sửa</a></li>
                              <li><a href="/seller/product/edit/variant/<%-item.id%>">Cập nhật biến thể</a></li>
                            </ul>
                          </div>
                    </td>
                </tr>
                <%}%>
               <%})%>
               <%}%>
            </tbody>
        </table>
    </div>
</div>
<div class="opt-all">
    
</div>
<script src="/javascripts/js/admin/changeInfoVariant.js"></script>
<script src="/javascripts/js/admin/adminOption.js"></script>
<script>
    $(document).ready(function() {
     
    // Cấu hình các nhãn phân trang
    $('.mdl-data-table').dataTable( {
        "language": {
        "sProcessing":   "Đang xử lý...",
        "sLengthMenu":   "Xem _MENU_ mục",
        "sZeroRecords":  "Không tìm thấy dòng nào phù hợp",
        "sInfo":         "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
        "sInfoEmpty":    "Đang xem 0 đến 0 trong tổng số 0 mục",
        "sInfoFiltered": "(được lọc từ _MAX_ mục)",
        "sInfoPostFix":  "",
        "sSearch":       "Tìm:",
        "sUrl":          "",
        "oPaginate": {
            "sFirst":    "Đầu",
            "sPrevious": "Trước",
            "sNext":     "Tiếp",
            "sLast":     "Cuối"
            }
        }
    } );
    }); 
  </script> 
<% include ../partials/footer_admin %>