<% include ../../partials/header_admin %>
<link rel="stylesheet" href="/stylesheets/css/admin_order.css">
<link rel="stylesheet" href="/stylesheets/css/user_info.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script src="/javascripts/js/admin/order.js"></script>

<div>
   <ul class="user-option nav nav-tabs">
      <li class="option option-my-booking is-flex nav-item <%-type == 5? 'option-active': ''%>">
          <div>
              <p class="hover-text my-booking"><a class="nav-link active" href="/admin/order">Tất cả</a></p>
          </div>
      </li>
      <li class="option option-favorite is-flex <%-type == 0? 'option-active': ''%>">
          <div>
              <p class="hover-text"><a class="nav-link" href="/admin/order/?type=confirm">Chờ xác nhận</a></p>
          </div>
      </li>
      <li class="option option-setting is-flex <%-type == 1? 'option-active': ''%>">
          <div>
              <p class="hover-text"><a class="nav-link" href="/admin/order/?type=prepare">Chờ lấy hàng</a></p>
          </div>
      </li>
      <li class="option option-setting is-flex <%-type == 2? 'option-active': ''%>">
          <div>
              <p class="hover-text"><a class="nav-link" href="/admin/order/?type=delivery">Đang giao</a></p>
          </div>
      </li>
      <li class="option option-setting is-flex <%-type == 3? 'option-active': ''%>">
        <div>
            <p class="hover-text"><a class="nav-link" href="/admin/order/?type=delivered">Đã giao</a></p>
        </div>
    </li>
    <li class="option option-setting is-flex <%-type == -1? 'option-active': ''%>">
        <div>
            <p class="hover-text"><a class="nav-link" href="/admin/order/?type=cancel">Đơn hủy</a></p>
        </div>
    </li>
  </ul>

  <%if (data != '') {%>
    <div class="count-order">
        <%-count%> đơn hàng
    </div>
    <table id="dataTables-example" class="mdl-data-table" style="width:100%">
        <thead>
            <th>Đơn hàng</th>
            <th>Shop</th>
            <th>Sản phẩm</th>
            <th>Tổng hóa đơn</th>
            <th>Ngày đặt</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </thead>
        <tbody>
            <% data.forEach(item => {
                var total = 0;
             %>
             
            <tr>
                <td>
                    <div>
                        #<%-item.orderId%>
                    </div>
                </td>
                <td><%-item.shopName%></td>
                <td><%item.products.forEach(i => {%>
                    <div class="order-product-list">
                        <div class="order-product-wrapper">
                            <img src="<%-i.cover%>" alt="" class="item-images">
                            <div class="item-product">
                                <div class="ct-item-product-inner">
                                    <div class="product-info">
                                        <a href="/admin/order/detail/<%-item.orderId%>" class="ct-item-product-name"><%-i.name%></a>
                                        <div class="order-wrap-text">
                                            <p><%-i.variant == ''?'': 'Phân loại: ' + i.variant%></p>
                                        </div>
                                        <div>x<%-i.amount%></div>
                                        <% total += (i.amount*i.price - i.amount*i.price*i.discount/100) + i.fee%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </td>
                <td> <%-VND(total)%>
                    <div class="payment-info">
                        <%-item.payment == 1 ? '(Thanh toán khi nhận hàng)':'(Thanh toán online)'%>
                    </div>
                </td>
                <td>
                    <%-item.created%>
                </td>
                <td>
                    <div class="signal-order">
                        <%if (item.status == -1) {%>
                            <p class="bg-danger">Đã hủy</p>
                        <%}%>
                       <%if (item.status == 0) {%>
                            <p class="bg-primary">Chờ xác nhận</p>
                        <%}%>
                        <%if (item.status == 1) {%>
                            <p class="bg-info">Chuẩn bị hàng</p>
                        <%}%>
                        <%if (item.status == 2) {%>
                            <p class="bg-warning">Đang giao</p>
                        <%}%>
                        <%if (item.status == 3) {%>
                            <p class="bg-success">Đã giao</p>
                        <%}%>
                    </div>
                </td>
                <td>
                    <div class="col-sm-4">
                        <%if (item.status == -1) {%>
                            <a href="/admin/order/detail/<%-item.orderId%>">
                                <button class="btn btn-default dropdown-toggle" type="button">Chi tiết</button>
                            </a>
                        <%}%>
                        <%if (item.status == 0) {%>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Tùy chọn
                                  <span class="caret"></span>
                                </button>
                               <ul class="dropdown-menu action-product" aria-labelledby="dropdownMenu1">
                                  <li><a href="/admin/order/detail/<%-item.orderId%>">Chi tiết</a></li>
                                  <li><a data-id="<%-item.orderId%>" class="order-confirm">Xác nhận</a></li>
                                  <li><a data-id="<%-item.orderId%>" class="order-cancel">Hủy đơn hàng</a></li>
                                </ul>
                            </div>
                        <%}%>
                        <%if (item.status == 1) {%>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Tùy chọn
                                  <span class="caret"></span>
                                </button>
                               <ul class="dropdown-menu action-product" aria-labelledby="dropdownMenu1">
                                  <li><a href="/admin/order/detail/<%-item.orderId%>">Chi tiết</a></li>
                                  <li><a data-id="<%-item.orderId%>" class="order-cancel">Hủy đơn hàng</a></li>
                                </ul>
                            </div>
                        <%}%>
                        <%if (item.status == 2) {%>
                            <button class="btn btn-default order-delivered" data-id="<%-item.orderId%>" type="button">Đã nhận hàng</button>
                        <%}%>
                        <%if (item.status == 3) {%>
                            <a href="/admin/order/detail/<%-item.orderId%>">
                                <button class="btn btn-default dropdown-toggle" type="button">Chi tiết</button>
                            </a>
                        <%}%>
                    </div>
                </td>
            </tr>
            <%})%>
        </tbody>
    </table>
  <%} else {%>
    <div>
        Không có đơn hàng nào
    </div>
  <%}%>

   
</div>
<script>
    $(document).ready(function() {
    // Cấu hình các nhãn phân trang
    $('.mdl-data-table').dataTable( {
        "ordering": false,
        "language": {
        "sProcessing":   "Đang xử lý...",
        "sLengthMenu":   "Xem _MENU_ mục",
        "sZeroRecords":  "Không tìm thấy dòng nào phù hợp",
        "sInfo":         "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
        "sInfoEmpty":    "Đang xem 0 đến 0 trong tổng số 0 mục",
        "sInfoFiltered": "(được lọc từ _MAX_ mục)",
        "sInfoPostFix":  "",
        "sSearch":       "Tìm:",
        "sUrl":          "",
        "oPaginate": {
            "sFirst":    "Đầu",
            "sPrevious": "Trước",
            "sNext":     "Tiếp",
            "sLast":     "Cuối"
            }
        }
    } );
    } ); 
    
  </script> 
<% include ../../partials/footer_admin %>