<% include ../../partials/header %>
<link rel="stylesheet" href="/stylesheets/css/user_info.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script src="/javascripts/js/user/user-purchase.js"></script>

<div style="z-index: 10; margin-bottom: 280px; position: relative; background-color: rgb(240, 240, 240);">
    <div style="display: flex; justify-content: center; padding: 20px;">
    <div class="user-list-option">
    <div class="">
        <div class="user-item">
                <div><a style="color:unset;" href="/user/account/profile">Thông tin của tôi</a></div>
        </div>
        <div class="stardust-dropdown_item-body stardust-dropdown_item-body-open" style="opacity: 1;">
            <div class="userpage-sidebar-menu_subsection">
                <a class="user-account" href="/user/account/profile"><span class="_2PrdXX">Hồ sơ</span></a>
                <a class="user-account" href="/user/account/payment"><span class="_2PrdXX">Ngân hàng</span></a>
                <a class="user-account" href="/user/account/address"><span class="_2PrdXX"> Sổ Địa chỉ</span></a>
                <a class="user-account" href="/user/account/password"><span class="_2PrdXX">Đổi mật khẩu</span></a>
            </div>
        </div>
    </div>
    <div class="user-item-selected">
        <div><a style="color: unset" href="/user/account/purchase">Quản lý đơn hàng</a></div>
    </div>
    <div class="user-item">
        <div>Sổ địa chỉ</div>
    </div>
    <div class="user-item">
        <div>Nhận xét sản phẩm đã mua</div>
    </div>
    <div class="user-item">
        <div>Sản phẩm mua sau</div>
    </div>
    </div>
    <div class="_3D9BVC">
        <div class="_3zmZLR">
            <div></div>
            <div class="iTmqFf">
                <a class="_2s-sXW <%-type == 5?'selected':''%>" href="/user/purchase"><span class="_2-GXl7">Tất cả</span></a>
                <a class="_2s-sXW _228tyk <%-type == 0?'selected':''%>" href="/user/purchase/?type=confirm"><span class="_2-GXl7">Chờ xác nhận</span></a>
                <a class="_2s-sXW <%-type == 1?'selected':''%>" href="/user/purchase/?type=prepare"><span class="_2-GXl7">Chờ lấy hàng</span></a>
                <a class="_2s-sXW <%-type == 2?'selected':''%>" href="/user/purchase/?type=delivery"><span class="_2-GXl7">Đang giao</span></a>
                <a class="_2s-sXW <%-type == 3?'selected':''%>" href="/user/purchase/?type=delivered"><span class="_2-GXl7">Đã giao</span></a>
                <a class="_2s-sXW <%-type == -1?'selected':''%>" href="/user/purchase/?type=cancel"><span class="_2-GXl7">Đã Hủy</span></a>
            </div>
            <div></div>
           <% if (data != '') {
              var total = 0;
            %>
                <div>
                    <%data.forEach(item => {%>
                    <div class="_32cw_C">
                        <div>
                           <div class="_3wGW0m">
                              <div class="_3xIZfd">
                                 <div class="_1tj6iU">

                                    <div class="_2tDqUs"><%-item.shopName%></div>
                                    <a class="_2bGakT" href="/xuongmaitnt">
                                       <button class="stardust-button">
                                          <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-btn-shop">
                                             <path d="m15 4.8c-.1-1-.8-2-1.6-2.9-.4-.3-.7-.5-1-.8-.1-.1-.7-.5-.7-.5h-8.5s-1.4 1.4-1.6 1.6c-.4.4-.8 1-1.1 1.4-.1.4-.4.8-.4 1.1-.3 1.4 0 2.3.6 3.3l.3.3v3.5c0 1.5 1.1 2.6 2.6 2.6h8c1.5 0 2.5-1.1 2.5-2.6v-3.7c.1-.1.1-.3.3-.3.4-.8.7-1.7.6-3zm-3 7c0 .4-.1.5-.4.5h-8c-.3 0-.5-.1-.5-.5v-3.1c.3 0 .5-.1.8-.4.1 0 .3-.1.3-.1.4.4 1 .7 1.5.7.7 0 1.2-.1 1.6-.5.5.3 1.1.4 1.6.4.7 0 1.2-.3 1.8-.7.1.1.3.3.5.4.3.1.5.3.8.3zm.5-5.2c0 .1-.4.7-.3.5l-.1.1c-.1 0-.3 0-.4-.1s-.3-.3-.5-.5l-.5-1.1-.5 1.1c-.4.4-.8.7-1.4.7-.5 0-.7 0-1-.5l-.6-1.1-.5 1.1c-.3.5-.6.6-1.1.6-.3 0-.6-.2-.9-.8l-.5-1-.7 1c-.1.3-.3.4-.4.6-.1 0-.3.1-.3.1s-.4-.4-.4-.5c-.4-.5-.5-.9-.4-1.5 0-.1.1-.4.3-.5.3-.5.4-.8.8-1.2.7-.8.8-1 1-1h7s .3.1.8.7c.5.5 1.1 1.2 1.1 1.8-.1.7-.2 1.2-.5 1.5z"></path>
                                          </svg>
                                          <span>xem shop</span>
                                       </button>
                                    </a>
                                 </div>
                                 <div class="QZfu6W">
                                    <div class="uhK5zO"><%-orderStatus[item.status] == undefined?orderStatus[4]: orderStatus[item.status]%></div>
                                 </div>
                              </div>
                              <div class="_2U1-Hf"></div>
                              <a href="/user/purchase/order/<%-item.orderId%>">
                                 <div class="_2hnmH-">
                                <%item.products.forEach(i => {%>
                                    <div class="FswepX">
                                       <div>
                                          <span class="_2WGfBS">
                                             <div></div>
                                             <div class="_3Nbzgs">
                                                <div class="_3-E1pP">
                                                   <div class="shopee-image__wrapper">
                                                      <div class="shopee-image__place-holder">
                                                         <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-loading-image">
                                                            <g>
                                                               <rect fill="none" height="8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="10" x="1" y="4.5"></rect>
                                                               <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="1" x2="11" y1="6.5" y2="6.5"></line>
                                                               <rect fill="none" height="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="3" x="11" y="6.5"></rect>
                                                               <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="1" x2="11" y1="14.5" y2="14.5"></line>
                                                               <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="6" x2="6" y1=".5" y2="3"></line>
                                                               <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3.5" x2="3.5" y1="1" y2="3"></line>
                                                               <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.5" x2="8.5" y1="1" y2="3"></line>
                                                            </g>
                                                         </svg>
                                                      </div>
                                                      <div class="shopee-image__content" style="background-image: url(<%-i.cover%>);">
                                                         <div class="shopee-image__content--blur"> </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="_-5JMmO">
                                                   <div>
                                                      <div class="_31sWbC"><span class="_18b78C"><%-i.name%></span></div>
                                                   </div>
                                                   <div>
                                                      <div class="_1TLPCK"><%-i.variant == ''?'': 'Phân loại hàng: ' + i.variant%>

                                                      </div>
                                                      <div class="aQNMRY">x<%-i.amount%></div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="_3M1Mfz">
                                                <div><span class="_7zFjZr"><%-VND(i.price)%></span><span class="_2id4-o _3rNlHO"></span></div>
                                             </div>
                                          </span>
                                       </div>
                                       <div class="_1YJXa6"></div>
                                    </div>
                                    <%total+= (i.price)*i.amount%>
                                <%})%>
                                 </div>
                              </a>
                              <div class="g7tA3o"></div>
                           </div>
                        </div>
                        <div class="_1J7vLy">
                           <div class="DI-rNr tyOBoQ"> </div>
                           <div class="DI-rNr _25igL4"> </div>
                        </div>
                        <div class="_39ypT2">
                           <div class="h0Jexl">
                              <span class="_3HcfDh">
                                 <div class="_3Hhx3p">
                                    <svg width="16" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path fill-rule="evenodd" clip-rule="evenodd" d="M15.94 1.664s.492 5.81-1.35 9.548c0 0-.786 1.42-1.948 2.322 0 0-1.644 1.256-4.642 2.561V0s2.892 1.813 7.94 1.664zm-15.88 0C5.107 1.813 8 0 8 0v16.095c-2.998-1.305-4.642-2.56-4.642-2.56-1.162-.903-1.947-2.323-1.947-2.323C-.432 7.474.059 1.664.059 1.664z" fill="url(#paint0_linear)"></path>
                                       <path fill-rule="evenodd" clip-rule="evenodd" d="M8.073 6.905s-1.09-.414-.735-1.293c0 0 .255-.633 1.06-.348l4.84 2.55c.374-2.013.286-4.009.286-4.009-3.514.093-5.527-1.21-5.527-1.21s-2.01 1.306-5.521 1.213c0 0-.06 1.352.127 2.955l5.023 2.59s1.09.42.693 1.213c0 0-.285.572-1.09.28L2.928 8.593c.126.502.285.99.488 1.43 0 0 .456.922 1.233 1.56 0 0 1.264 1.126 3.348 1.941 2.087-.813 3.352-1.963 3.352-1.963.785-.66 1.235-1.556 1.235-1.556a6.99 6.99 0 00.252-.632L8.073 6.905z" fill="#FEFEFE"></path>
                                       <defs>
                                          <linearGradient id="paint0_linear" x1="8" y1="0" x2="8" y2="16.095" gradientUnits="userSpaceOnUse">
                                             <stop stop-color="#F53D2D"></stop>
                                             <stop offset="1" stop-color="#F63"></stop>
                                          </linearGradient>
                                       </defs>
                                    </svg>
                                 </div>
                              </span>
                              <div class="_3LfHXA">Tổng số tiền:</div>
                              <div class="isoXOF"><%-VND(item.ship + total) %></div>
                           </div>
                        </div>
                        <div class="_2GvoV8">
                           <!-- <div class="_1YuAW0"><span>Không nhận được đánh giá</span></div> -->

                           <div class="sCoiFR">
                              <%if (item.status == 0) {%>
                              <div class="EoE22E">
                                 <button disabled class="stardust-button stardust-button--primary _3iADE8">Đang chờ</button>
                              </div>

                              <div class="Vt1J92">
                                 <button class="stardust-button stardust-button--secondary _3iADE8 order-cancel" data-id="<%-item.orderId%>">Hủy Đơn Hàng</button>
                              </div>
                              <%}%>
                              <%if (item.status == 1) {%>
                                 <div class="EoE22E">
                                    <button disabled class="stardust-button stardust-button--primary _3iADE8">Đang chuẩn bị hàng giao đến cho bạn</button>
                                 </div>
                              <%}%>
                              <%if (item.status == 2) {%>
                                 <div class="EoE22E">
                                    <button disabled class="stardust-button stardust-button--primary _3iADE8">Đang giao</button>
                                 </div>
                              <%}%>
                              <%if (item.status == 3) {%>
                                 <div class="EoE22E">
                                    <a href="/user/purchase/order/<%-item.orderId%>"><button disabled class="stardust-button stardust-button--primary _3iADE8">Chi tiết</button></a>
                                 </div>
                              <%}%>
                              <%if (item.status == -1) {%>
                                 <div class="EoE22E">
                                    <a href="/user/purchase/order/<%-item.orderId%>"><button class="stardust-button stardust-button--primary _3iADE8">Chi tiết đơn hủy</button></a>
                                 </div>
                              <%}%>
                           </div>

                        </div>
                     </div>
                    <%})%>
                </div>
           <% }else {%>
                <div class="_36XCmR">
                    <div class="_2WXGP9">
                        <div class="_379iT1"></div>
                        <div class="_1FBD3g">Chưa có đơn hàng</div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
    </div>
</div>
<% include ../../partials/footer %>