<% include ../../partials/header_admin %>
<link rel="stylesheet" href="/stylesheets/css/admin_profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="/javascripts/js/admin/employee.js"></script>

<div class="container">
    <div class="list-category">
        Trang chủ
    </div>
    <div class="content clearfix">
        
        <div class="col-sm-12 create" style="display: flex;">
            <div class="col-sm-6 title">
                Quản lý nhân viên
            </div>
            <div class="col-sm-6 title">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">Thêm nhân viên</button>
            </div>
        </div>
        <table id="dataTables-example" class="mdl-data-table" style="width:100%">
            <thead>
                <tr align="center">
                    <th>STT</th>
                    <th>Tài khoản</th>
                    <th>Họ tên</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
               <%if (data) {
                   var i = 0;
                   data.forEach(item => { i++;
                %>
                <tr class="odd gradeX" align="center">
                    <td><%-i%></td>
                    <td><%-item.username%></td>
                    <td><%-item.fullname%></td>
                    <td><%-item.phone%></td>
                    <td><%-item.email%></td>
                    <td class="center">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Tùy chọn
                              <span class="caret"></span>
                            </button>
                           <ul class="dropdown-menu action-product" aria-labelledby="dropdownMenu1">
                                <li><a href="/admin/profile/employee/<%-item.username%>.<%-item.id%>">Chi tiết</a></li>
                                <li><a class="delete-user" data-id="<%-item.id%>">Xóa</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
               <%})}%>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm nhân viên mới</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST">
        <div class="modal-body">
         
            <div class="form-group">
                <label class="user-label" for="username"> Tên đăng nhập: </label>
                <input id="username" name="username" type="text" class="form-control user-form" required>
                <span style="color: red" id="error-username"></span>
            </div>

            <div class="form-group">
                <label class="user-label" for="password"> Mật khẩu: </label>
                <input id="password" name="password" type="password" class="form-control user-form" value="" required>
            </div>

            <div class="form-group">
                <label class="user-label" for="fullname"> Họ tên: </label>
                <input id="fullname" name="fullname" type="text" class="form-control user-form" value="" required>
            </div>

            <div class="form-group">
                <label class="user-label" for="phone"> Số điện thoại liên hệ: </label>
                <input id="phone" name="phone" type="text" class="form-control user-form" value="" required>
            </div>

            <div class="form-group">
                <label class="user-label" for="email"> Email: </label>
                <input id="email" name="email" type="email" class="form-control user-form" value="" required>
            </div>
            <div class="form-group">
                <label class="user-label" for="fullname"> Phân quyền sử dụng</label>
            </div>
            <div class="col-sm-12" style="display: flex;">
                <div class="form-group col-sm-6">
                    <label for="">Quản lý sản phẩm</label>
                    <div>
                        <input name="permission" type="checkbox" class="" value="1">
                        <label for="">Xem danh sách sản phẩm</label>
                    </div>
                    <div>
                        <input id="fullname" name="permission" type="checkbox" class="" value="2">
                        <label for="">Báo sản phẩm vi phạm</label>
                    </div>
                    <div>
                        <input id="fullname" name="permission" type="checkbox" class="" value="3">
                        <label for="">Phê duyệt sản phẩm</label>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Quản lý danh mục</label>
                    <div>
                        <input id="fullname" name="permission" type="checkbox" class="" value="4">
                        <label for="">Tạo danh mục</label>
                    </div>
                    <div>
                        <input id="fullname" name="permission" type="checkbox" class="" value="5">
                        <label for="">Xem danh sách danh mục</label>
                    </div>
                    <div>
                        <input id="fullname" name="permission" type="checkbox" class="" value="6">
                        <label for="">Chỉnh sửa danh mục</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group col-sm-6">
                    <label for="">Quản lý đơn hàng</label>
                    <div>
                        <input id="fullname" name="permission" type="checkbox" class="" value="7">
                        <label for="">Xem đơn hàng</label>
                    </div>
                    <div>
                        <input id="fullname" name="permission" type="checkbox" class="" value="8">
                        <label for="">Xác nhận đơn hàng</label>
                    </div>
                    <div>
                        <input id="fullname" name="permission" type="checkbox" class="" value="9">
                        <label for="">Xác nhận giao hàng</label>
                    </div>
                    <div>
                        <input id="fullname" name="permission" type="checkbox" class="" value="10">
                        <label for="">Hủy đơn hàng</label>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div>
                        <label for="">Quản lý nhân viên</label>
                        <div>
                            <input id="fullname" name="permission" type="checkbox" class="" value="11">
                            <label for="">Thêm nhân viên mới</label>
                        </div>
                        <div>
                            <input id="fullname" name="permission" type="checkbox" class="" value="12">
                            <label for="">Xem danh sách nhân viên</label>
                        </div>
                        <div>
                            <input id="fullname" name="permission" type="checkbox" class="" value="13">
                            <label for="">Chỉnh sửa thông tin</label>
                        </div>
                        <div>
                            <input id="fullname" name="permission" type="checkbox" class="" value="14">
                            <label for="">Xóa nhân viên</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group col-sm-6">
                    <div>
                        <label for="">Quản lý phân quyền</label>
                        <div>
                            <input id="fullname" name="permission" type="checkbox" class="" value="15">
                            <label for="">Tạo phân quyền</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="createEmp">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<script>
    $(document).ready(function() {
    // Cấu hình các nhãn phân trang
    $('.mdl-data-table').dataTable( {
        "language": {
        "sProcessing":   "Đang xử lý...",
        "sLengthMenu":   "Xem _MENU_ mục",
        "sZeroRecords":  "Không tìm thấy dòng nào phù hợp",
        "sInfo":         "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
        "sInfoEmpty":    "Đang xem 0 đến 0 trong tổng số 0 mục",
        "sInfoFiltered": "(được lọc từ _MAX_ mục)",
        "sInfoPostFix":  "",
        "sSearch":       "Tìm:",
        "sUrl":          "",
        "oPaginate": {
            "sFirst":    "Đầu",
            "sPrevious": "Trước",
            "sNext":     "Tiếp",
            "sLast":     "Cuối"
            }
        }
    } );
    } ); 
    
</script> 
<script src="/javascripts/js/admin/profile.js"></script>

<% include ../../partials/footer_admin %>