<% include ../../partials/header_admin %>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div style="margin-left: 5%;">
    <div class="col-lg-12">
        <h1 class="page-header">Product
            <small>Detail</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <table id="dataTables-example" class="mdl-data-table" style="width:100%">
        <thead>
            <tr align="center">
                <th>STT</th>
                <th>Tên Sản phẩm</th>
                <th>SKU</th>
                <th>Phân loại hàng</th>
                <th>Giá</th>
                <th>Kho hàng</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           <%if (data) {
               var i = 0;
               data.forEach(item => {i++;
            %>
            <tr class="odd gradeX" align="center">
                <input type="text" value="<%-item.id%>" hidden name="id" id="id">
                <td><%-i%></td>
                <td><%-item.name%></td>
                <td>
                    <div class="form-group edit-variant">
                        <input type="text" class="form-control" id="sku" 
                        onkeypress="changeVariant()"
                        value="<%-item.sku == '' ? '--': item.sku%>"/>  
                    </div>
                </td>
                <td><%-item.attribute.Color%>, <%-item.attribute.Size%></td>
                <td>
                    <div class="form-group edit-variant">
                        <input class="form-control gia_ban" id="price" placeholder=" Enter Product Price" 
                       id="price"
                        value="<%-item.price%>" type="number" onkeypress="changeVariant()"/>  
                    </div>
                </td>
                <td>
                    <div class="form-group edit-variant">
                        <input class="form-control" id="stock"
                        value="<%-item.stockamount%>" type="number" onkeypress="changeVariant()"/>  
                    </div>
                </td>
                <td style="display: none;" class="center act-update"><a href="" class="btn btn-warning" onclick="updateVariant()">
                    <i class="fas fa-edit"></i> Update</a>
                </td>
            </tr>
           <%})}%>
        </tbody>
    </table>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/js/admin/changeInfoVariant.js"></script>
<% include ../../partials/footer_admin %>