<% include ../../partials/header %>
<link rel="stylesheet" href="/stylesheets/css/cart.css">

<div class="container">
    <div class="col-sm-12 block_cart">
        <section class="info-gio-hang clearfix">
            <div class="col-sm-12 gio_hang" style="padding: 0;">
                <%if (cart) {%>
                <h3>Giỏ hàng <small>(<%-cart.length%> sản phẩm)</small></h3>
                <%} else {%>
                <h3>Giỏ hàng <small>(0 sản phẩm)</small></h3>
                <%}%>
            </div>
            <div class="border-cart" style="box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);">
                
                <% if (cart) 
                    { 
                        if (cart.length >= 1) {%>
                <div class="khoimenu_title" style="display: flex; border-bottom: solid 1px #b1b1b1;">
                    <div class="col-sm-2">
                        <label class="khoimenu_title_text">Tên sản phẩm</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="khoimenu_title_text">Giới thiệu</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="khoimenu_title_text">Đơn giá</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="khoimenu_title_text">Số lượng</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="khoimenu_title_text">Thành tiền</label>
                    </div>
                </div>
                <%var i = 0;%>
                <%cart.forEach((item) => {i++;%>
                
                <div class="khoimenu" style="display: flex; padding: 15px 0; border-bottom: solid 1px #e4e4e4;">
                    <div class="col-sm-2">
                        <img class="hinhsanpham" src="<%-item.imgSrc%>" alt="" >
                    </div>
                    <div class="col-sm-4">
                        <div class="product_info">
                            <label class="product_info_text"><%-item.name%> <small><%-item.color%></small></label>
                            <!-- <div class="product_info_description">
                                <span>{!! $row->options['description'] !!}</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        
                        <span><%-item.price.toLocaleString()%>₫</span>
                        <input type="hidden" class="price" value="{!! $row->price !!}">
                        
                        <!-- <span>{!! number_format($row->options['cur_price'] )!!}₫</span>
                        <input type="hidden" class="price" value="{!! $row->options['cur_price'] !!}"> -->
                       
                        
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-number" style="background-color: #80808091; min-height: 30px;"  cart-type="minus" cart-field="quant[{!! $row->id !!}]">
                            <span class="fa fa-minus"></span>
                            </button>
                            </span>
                            <input type="text" name="quant[{!! $row->id !!}]" class="form-control input-number input_new" value="<%-item.amount%>" min="1" max="10" style="max-height: 30px; max-width: 35px;" >
                            <input type="hidden" name="invent_Amount" class="invent_Amount" value="{!! $row->options['invenAm'] !!}">
                            <input type="hidden" name="cart_id" class="cart_id" value="{!! $row->rowId !!}">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-number" style="background-color: #80808091; min-height: 30px;" cart-type="plus" cart-field="quant[{!! $row->id !!}]">
                            <span class="fa fa-plus"></span>
                            </button>
                            </span>
                            <!--  <a href="javascript:void(0)"><img src="{!! asset('update_cart.png') !!}" width="30px" height="30px" alt="" style="margin-left: 10px;"></a> -->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <!-- @if((int)$row->options['cur_price'] === 0)
                        <span id="payment_total">{!! number_format($row->price * $row->qty)!!}₫</span>
                        <input type="hidden" class="payment_total_hidden_<?php echo $index; ?>" value="{!! $row->price * $row->qty !!}">
                        @else -->
                        <span id="payment_total"><%-item.amount * item.price%>₫</span>
                        <input type="hidden" class="payment_total_hidden_<?php echo $index; ?>" value="{!! $row->options['cur_price'] * $row->qty !!}">
                       
                        <a href="#" class="btn btn-danger delete-cart" data-info="<%-i%>" style="margin-left: 54px; margin-top: 0px;"><i class="fas fa-times-circle"></i></a>
                    </div>
                </div>
                <!-- <?php
                    if((int)$row->options['cur_price'] === 0){
                        $total += $row->price * $row->qty;
                    }
                    else $total += $row->options['cur_price'] * $row->qty;      
                    $index ++;
                    ?> 
                @endforeach -->
                <%})}} else {%>
                <!-- Cart empty-->
               
                <div style="width: 100%; height: 500px; text-align: center;">
                  <div style="padding-top: 101px;">
                    <img src="/images/online-shop.png" alt="" style="width: 200px;">
                    <span style="display: block; margin-top: 20px;  font-size: 17px; font-weight: bold;">Giỏ hàng đang trống</span>
                    <a href="/shop/product" class="btn btn-danger" style="margin-top: 20px;">Tiếp tục mua sắm</a>
                  </div>
                </div>
                <%}%>
            </div>
        </section>
        <section class="col-sm-12 sp-lien-quan" style="padding: 0; display: flex; margin-top: 80px;">
            <div class="col-sm-9 khoi_chua_sp_lienquan clearfix" style="padding: 0;">
                <h5 style="margin-top:0; margin-bottom: 20px; font-size: 30px;">Sản phẩm liên quan</h5>
                <% products.forEach((prod) => {%>
                <a href="/shop/product/<%-prod._id%>">
                    <div class="khoi_sp_lienquan clearfix col-sm-3" id="effect_1" style="height: 196px;">
                        <img style="width: 100%; height: 100%;" src="/uploads/<%-prod.images%>"/>
                        <div class="khoi_sp_lienquan_info">
                            <p><%-prod.name%></p>
                            <p><%-prod.price%>₫</p>
                        </div>
                    </div>
                </a>
                <%})%> 
            </div>
            <%var total = 0;%>
            <% if (cart) {
                if (cart.count != 0) {
                    cart.forEach((item) => {
                        total += parseInt(item.amount,10) * parseInt(item.price,10);
                    })
            %>
            <div class="col-sm-3 clearfix" style="padding-right: 0;">
                <div class="card-group" style="width: 100%;">
                    <div class="border_cart" style="width: 100%;">
                        <table class="table table-inverse" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th  style="padding-bottom: 20px;">TẠM TÍNH</th>
                                    <td class="TOTAL" style="float: right;"><%-total%>₫</td>
                                </tr>
                                <tr>
                                    <th style="">TỔNG TIỀN</th>
                                    <td class="TOTAL" style="float: right; color: #e61212;"><%-total%>₫</td>
                                </tr>
                                <tr>
                                    <th style="font-size: 16px; color: #8bb9c7;"><small>(Đã bao gồm VAT)</small></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 100%;">
                        <a href="/shop/checkout" class="btn btn-danger check-out">THANH TOÁN</a>
                        <a href="{!! URL::route('link-category', 1) !!}" class="btn btn-primary check-out">TIẾP TỤC MUA SẮM</a>   
                    </div>
                </div>
            </div>
            <%}}%>
        </section>
    </div>

<% include ../../partials/footer %>