<% include ../../partials/header_admin %>
<link rel="stylesheet" href="/stylesheets/css/report.css">
<style>
    /* remove border between controls */
.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    -webkit-box-shadow: none; 
            box-shadow: none;
    border-color:#cccccc; 
}

.input-group-btn:last-child > .btn{
    min-height: 34px;
    margin-top: -4px;
}
</style>

<div class="report">
    <h1 class="page-header">Report
        <small>List</small>
    </h1>

    <form action="" method="POST" style="margin-left: 12%">
        <input type="hidden" name="_token" value="{!! csrf_token() !!}">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="font_text_details">Từ</label>
                    <div class="input-group">
                        <input class="form-control month-date" type="date" max="2020-06" name="reportStart" style="margin-bottom: 5px; line-height: 1.55;" required/>
                        <div class="input-group-btn">
                            <button class="btn btn-primary">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="font_text_details">Đến</label>
                    <div class="input-group">
                        <input class="form-control month-date" type="date" max="2020-06" name="reportEnd" style="margin-bottom: 5px; line-height: 1.55;" required/>
                        <div class="input-group-btn">
                            <button class="btn btn-primary">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="font_text_details">Chi nhánh</label>
                    <select class="form-control" name="branch" required>
                        <option value="default_branch" selected="selected">Chi nhánh mặc định</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="font_text_details">Phương thức thanh toán</label>
                    <select class="form-control" name="formPayment" required>
                        <option selected="selected">Thanh toán trực tiếp</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" style="margin-left: 16%;">
                <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 25px;">Xem báo cáo</button>
            </div>
        </div>
        
    </form>
</div>
<!-- <?php $total_price = 0 ?>
@foreach($product as $item)
    @if((int)$item->current_price === 0)
    <?php $total_price += $item->sales*$item->price; ?>
    @else
    <?php $total_price += $item->sales*$item->current_price; ?>
    @endif
@endforeach -->

<div class="col-lg-12" style="margin: 50px 62px;">
    <div class="col-lg-9">
        <div class="block_report" style="display: flex;">
            <div class="col-lg-2" style="margin-left: 10%;">
                <label class="block_report_text">Tổng chiết khấu</label><br>
                <label class="block_report_text">0</label>
            </div>
            <div class="col-lg-1">
                <label class="block_report_text">+</label><br>
            </div>
            <div class="col-lg-1">
                <label class="block_report_text">Thuế</label><br>
                <label class="block_report_text">0</label>
            </div>
            <div class="col-lg-1">
                <label class="block_report_text">+</label><br>
            </div>
            <div class="col-lg-2">
                <label class="block_report_text">Tổng doanh số</label><br>
                <label class="block_report_text">
                   <%-totalValueExport%>₫
                </label>
            </div>
            <div class="col-lg-1">
                <label class="block_report_text">=</label><br>
            </div>
            <div class="col-lg-2">
                <label class="block_report_text">Tổng doanh thu</label><br>
                <label class="block_report_text">
                   <%-totalValueExport%>₫
                </label>
            </div>
        </div>
    </div>
</div>

<!-- /.col-lg-12 -->
<div class="col-lg-10" style="margin-top: 1%; margin-left: 55px;">
    <label>DOANH THU THEO TỪNG SẢN PHẨM</label>
    
    <!-- <a href="{!! URL::route('admin.report.saveReportIn', ['dateStart' => $reportStart, 'dateEnd' => $reportEnd]) !!}" class="btn btn-primary" style="float: right; font-size: 17px; margin-bottom: 10px;">In hóa đơn</a> -->
    
    <a href="{!! URL::route('admin.report.saveReportInAll') !!}" class="btn btn-primary" style="float: right; font-size: 17px; margin-bottom: 10px;">In hóa đơn</a>
    
    <table id="dataTables-example" class="mdl-data-table" style="width:100%">
        <thead>
            <tr align="center">
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>SL hàng bán ra</th>
                <th>Tổng tiền</th>
                <th>Tổng chiết khấu</th>
                <th>Thuế</th>
                <th>Doanh số</th>
                <th>Tham chiếu</th>
            </tr>
        </thead>
        <tbody>
            <% var i = 0;%>
            <% var totalOut = totalPrice = 0;%>
            <% var maxPrice = maxOut = 0;
               var name = ''; 
            %>
            <% oData.forEach((item) => {i++;
                totalOut = parseInt(totalOut, 10) + parseInt(item.amountOutport, 10);
                totalPrice = parseInt(totalPrice, 10) + parseInt(item.valueOutPort, 10);
                if (maxPrice < item.valueOutPort) 
                {
                    maxPrice = item.valueOutPort;
                    name = item.name;
                    maxOut = item.totalOut;
                }
            %>
            <tr class="odd gradeX" align="center">
                <td><%-i%></td>
                <td>
                    
                </td>
                <td>
                    <%-item.name%>
                </td>
                <td>
                    
                </td>
                <td>
                    <%-item.amountOutport%>
                </td>
                <td>
                    <%-item.valueOutPort%> đ
                </td>
                <td>
                   0₫
                </td>
                <td>
                   0₫
                </td>
                <td>
                    <%-item.valueOutPort%> đ
                </td>
                <td>
                    -
                </td>
            </tr>
             
            <%})%>
        </tbody>
        <tbody>
            <tr class="odd gradeX" align="center">
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                    <%-totalOut%>
                </td>
                <td>
                    <%-totalPrice%>₫
                </td>
                <td>
                   0₫
                </td>
                <td>
                   0₫
                </td>
                <td>
                    <%-totalPrice%>₫
                </td>
                <td>
                    -
                </td>
            </tr>
        </tbody>
    </table>
</div>

 <!-- /.col-lg-12 -->
<div class="col-lg-10" style="margin-left: 55px;">
    <label>SẢN PHẨM DOANH THU CAO NHÂT</label>
    <table id="dataTables-example" class="mdl-data-table" style="width:100%">
        <thead>
            <tr align="center">
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>SL hàng bán ra</th>
                <th>Tổng tiền</th>
                <th>Tổng chiết khấu</th>
                <th>Thuế</th>
                <th>Doanh số</th>
                <th>Tham chiếu</th>
            </tr>
        </thead>
        <tbody>
            
           
            <tr class="odd gradeX" align="center">
                <td>1</td>
                <td>
                   
                </td>
                <td>
                    <%-name%>
                </td>
                <td>
                    
                </td>
                <td>
                    <%-maxOut%>
                </td>
                <td>
                    <%-maxPrice%>
                </td>
                <td>
                   0₫
                </td>
                <td>
                   0₫
                </td>
                <td>
                    <%-maxPrice%>
                </td>
                <td>
                    -
                </td>
            </tr>
           
        </tbody>
    </table>
</div>
</div>

<% include ../../partials/footer_admin %>