
<% include ../../partials/header_admin %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
<script src="/javascripts/js/addProduct.js"></script>
<div style="margin-left: 5%;">
    <div class="col-lg-12">
        <h1 class="page-header">Product
            <small>Add</small>
        </h1>
    </div>

    <form action="" method="POST" enctype="multipart/form-data">
        <div class="col-lg-7" style="padding-bottom:120px">
            <input type="hidden" name="_token" value="{!! csrf_token() !!}">
            <div class="form-group">
                <label>Thương hiệu</label>
                <select class="form-control" name="brand" required>
                    <option value="">Please Choose Brand</option>
                    <% brand.forEach(brd=>{%>
                      <option value="<%-brd.id%>"><%-brd.name%></option>
                      <%})%>
                </select>
            </div>
            <div class="form-group">
                <label>Danh mục lớn</label>
                <select class="form-control par-cate" name="parentCate" required>
                    <option value="">Please Choose Category</option>
                   <% parentCate.forEach(cat=>{%>
                      <option value="<%-cat.id%>"><%-cat.name%></option>
                    <%})%>
                </select>
                
            </div>
            <div id="output"></div>
            <div class="some-element-class"></div>
            
      
            <div class="form-group">
                <label>Danh mục nhỏ</label>
                <select class="form-control child-cate" name="childCate" required>
                    <option value="">Please Choose Child Category</option>      
                </select>
            </div>
            <div class="form-group">
                <label>Chất liệu</label>
                <select class="form-control" name="material" required>
                    <option value="">Please Choose Material</option>
                    <% material.forEach(mat=>{%>
                      <option value="<%-mat.id%>"><%-mat.name%></option>
                    <%})%>
                </select>
            </div>
            <div class="form-group">
                <label>Tên sản phẩm</label>
                <input class="form-control" name="name" placeholder="Please Enter Product Name" value="" required/>
            </div>
            <input type="hidden" class="form-control" name="price" placeholder="Please Enter Product Price" value="0" required/>
            <div class="form-group">
                <label>Miêu tả</label>
                <textarea class="form-control ckeditor" rows="3" name="description" id="description" placeholder="Please Enter Product Description"></textarea>
            </div>
            <div class="form-group">
                <label>Nội dung</label>
                <textarea class="form-control ckeditor" rows="3" name="content" id="content"></textarea>
            </div>
            <!-- <div class="form-group">
                <label>Hình ảnh</label>
                <input type="file" name="image_product" value="{!! old('image_product') !!}" required>
            </div> -->

            <h5>File Upload & Image Preview</h5>
            <!-- Upload  -->
            <div class="col-md-8">
                
                <div id="file-upload-form" class="uploader">
                  <input id="file-upload" type="file" name="image_product" onchange="readMainURL(this);" value="{!! old('image_product') !!}">
                  <label for="file-upload" id="file-drag">
                    <img id="file-image" src="#" alt="Preview" class="hidden">
                    <div id="start">
                      <i class="fa fa-download" aria-hidden="true"></i>
                      <div>Select a file or drag here</div>
                      <div id="notimage" class="hidden">Please select an image</div>
                      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                    </div>
                  </label>
                </div>
            </div>
            <div class="col-md-4">
                <img id="blah" src="http://placehold.it/180" alt="your image" style="width: 100%; height: 13%;" />
            </div>
            
            <div class="col-md-12">
               <button type="submit" class="btn btn-default">Product Add</button>
               <button type="reset" class="btn btn-default">Reset</button> 
            </div>
        </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <% for(let i = 1; i <= 3 ; i++) { %>
                <div class="form-group">
                    <label>Product Image Detail <%-i%></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image_product_multiple<%-i%>" id="validatedCustomFile">
                        <label class="custom-file-label" required for="validatedCustomFile">Choose file...</label>
                    </div>
                </div>
                <% } %>
                
                <div id="insertSize">
                    <div class="form-group size_block">
                        <label>Kích thước</label>
                        <select class="form-control size_product" name="size" style="margin-top: 10px;" multiple="multiple" required>
                            <option value="S">Size S</option>
                            <option value="M">Size M</option>
                            <option value="L">Size L</option>
                            <option value="X">Size X</option>
                            <option value="XL">Size XL</option>
                        </select>
                    </div>
                </div>

                <div id="insertColor">
                    <div class="form-group color_block">
                        <label>Màu sắc</label>
                        <select class="form-control color_product" name="color" style="margin-top: 10px;" multiple="multiple" required>
                            <option value="orange">Orange</option>
                            <option value="olivaceous">Olivaceous</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                            <option value="sky">Sky</option>
                            <option value="yellow">Yellow</option>
                            <option value="greenish">Greenish</option>
                            <option value="red">Red</option>
                        </select>
                    </div>
                </div>
            </div>
    </form>
</div>
<% include ../../partials/footer_admin %>