<% include ../../partials/header_seller %>
<link rel="stylesheet" href="/stylesheets/css/add_product.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
<script src="/javascripts/js/addProduct.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/javascripts/assets/bootstrap-tagsinput.css">
<link rel="stylesheet" href="/javascripts/assets/app.css">

<div class="category-link">
    <a href="#" onclick="btnCancel()">Trang chủ</a> >
    <span style="color: red">Sửa sản phẩm</span>
</div>

<div style="margin-left: 5%;">
    <div class="col-lg-12">
        <h1 class="page-header">Product
            <small>Edit</small>
        </h1>
    </div>


    <form action="" method="POST" name="frmEditProduct" enctype="multipart/form-data">
        <div class="col-lg-7" style="padding-bottom:120px">
            <div class="form-group">
                <label>Thương hiệu</label>
                <select class="form-control" name="brand">
                    <option value="">Please Choose Brand</option>
                   
                        <option value=""></option> 
                  
                </select>
            </div>
            <div class="form-group">
                <label>Danh mục lớn</label>
                <select class="form-control par-cate" name="cate1" required>
                    <option value="">Please Choose Category</option>
                    <%category1.forEach(cate => {%>
                        <option value="<%-cate.id%>" <%-cate1 == cate.id ? 'selected' : ''%>><%-cate.name%></option>
                    <%})%>
                </select> 
            </div>

            <div class="form-group">
                <label>Danh mục nhỏ</label>
                <select class="form-control child-cate" name="cate2" required>
                    <option value="">Please Choose Child Category</option>   
                    <%category2.forEach(cate => {%>
                        <option class="option-child" value="<%-cate.id%>" <%-cate2 == cate.id ? 'selected' : ''%>><%-cate.name%></option>
                    <%})%>
                </select>
            </div>

            <div class="form-group">
                <label>Chất liệu</label>
                <select class="form-control" name="material" required>
                    <option value="">Please Choose Material</option>
                   
                      <option value="test" selected >test</option>
                   
                </select>
            </div>
            <div class="form-group">
                <label>Tên sản phẩm</label>
                <input class="form-control" name="name" placeholder="Please Enter Product Name" value="<%-name%>" required/>
            </div>
            <div class="form-group">
                <label>SKU</label>
                <input class="form-control" name="sku" placeholder="Please Enter SKU" value="<%-sku%>"/>
            </div>
            <div class="form-group">
                <label>Miêu tả</label>
                <textarea class="form-control ckeditor" rows="3" name="description" id="description" placeholder="Please Enter Product Description"></textarea>
            </div>
            <div class="form-group">
                <label>Nội dung</label>
                <textarea class="form-control ckeditor" rows="3" name="content" id="content"></textarea>
            </div>
            <!-- <div class="form-group">
                <label>Hình ảnh</label>
                <input type="file" name="image_product" value="{!! old('image_product') !!}" required>
            </div> -->

            <h5>File Upload & Image Preview</h5>
            <!-- Upload  -->
            <div class="col-md-8">
                
                <div id="file-upload-form" class="uploader">
                  <input id="file-upload" type="file" name="image_product" onchange="readMainURL(this);" value="" style="display: block;">
                  <label for="file-upload" id="file-drag">
                    <img id="file-image" src="#" alt="Preview" class="hidden">
                    <div id="start">
                      <i class="fa fa-download" aria-hidden="true"></i>
                      <div>Select a file or drag here</div>
                      <div id="notimage" class="hidden">Please select an image</div>
                      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                    </div>
                  </label>
                </div>
            </div>
            <div class="col-md-4">
                <img id="blah" src="<%-imgCover%>" alt="your image" style="width: 100%; height: 13%;" />
            </div>
            
            <div class="col-md-12">
               <button type="submit" class="btn btn-default">Cập nhật</button>
               <button type="reset" class="btn btn-default" onclick="btnCancel()">Hủy</button> 
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <!-- @for($i = 1; $i <= 3 ; $i++)
            <div class="form-group image_block" style="margin-top: 10px;">
                <label>Product Image Detail</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image_product_multiple[]" id="validatedCustomFile" required>
                    <label class="custom-file-label" required for="validatedCustomFile">Choose file...</label>
                </div>
            </div>
            @endfor -->
            <%var i = 0;%>
            <%imgSub.forEach(item => { i++;
                if (item != '') {
            %>
            <div class="form-group" id="subImg">
                <label>Product Image Detail <%-i%></label>
                <img src="<%-item%>" class="img_detail" idImg="" id="subImg" width="160px" height="170px">
                <a href="javascript:void(0)" id="del_image" type="button" class="btn btn-danger btn-circle icon_del"><i class="fa fa-times"></i></a>
                <input type="text" value="<%-i%>" name="img<%-i%>" hidden class="img-hidden">
            </div>
                <%} else {%>
                    <div class="form-group">
                        <label>Product Image Detail <%-i%></label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="image_product_multiple<%-i%>" id="validatedCustomFile">
                            <label class="custom-file-label" required for="validatedCustomFile">Choose file...</label>
                        </div>
                    </div>
            <%}})%>
            <div id="insertImage"></div>
            <button type="button" id="addImages" class="btn btn-danger" style="margin-bottom: 10px;">Add Images</button>
             
            <div id="insertSize">
                <div class="form-group">
                    <label>Size</label>
                    <input type="text" value="<%-size%>" data-role="tagsinput" name='size' id="size-opt"/>
                </div>
            </div>

            <div id="insertColor">
                <div class="">
                    <label>Color</label>
                    <input type="text" value="<%-color%>" data-role="tagsinput" name='color'/>
                </div>
            </div>
            
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script src="/javascripts/assets/bootstrap-tagsinput.min.js"></script>
<script src="/javascripts/js/admin/changeInfoVariant.js"></script>
<script>
    function readMainURL(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();

           reader.onload = function (e) {
               $('#blah')
                .attr('src', e.target.result);
           };

           reader.readAsDataURL(input.files[0]);
       }
   }
</script>

<% include ../../partials/footer_admin %>